openapi: 3.0.3
info:
  title: Upvest Investment API
  version: 1.9.0
  description: Upvest Investment API.
  contact:
    name: Upvest API Support
    email: api@upvest.co
    url: https://docs.upvest.co
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
tags:
  - name: Access Tokens
    description: All authentication related paths.
  - name: Webhooks
    description: All webhook related paths.
  - name: Users
    description: All user related paths.
  - name: User Identifiers
    description: All user identifiers related paths.
  - name: User Checks
    description: All user checks related paths.
  - name: Accounts
    description: All accounts related paths
  - name: Account Groups
    description: All account groups related paths
  - name: Reference Accounts
    description: All reference account related paths
  - name: Mandates
    description: All direct debit mandates related paths
  - name: Payments
    description: All payments related paths
  - name: Cash Balances
    description: All cash balance related paths
  - name: Instruments
    description: All instrument related paths.
  - name: Orders
    description: All order related paths.
  - name: Executions
    description: All execution related paths.
  - name: Positions
    description: All positions related paths.
  - name: Treasury Reports
    description: All treasury reports related paths.
  - name: Reports
    description: All reports related paths.
  - name: Taxes
    description: All taxes related paths.
  - name: Transactions
    description: All transactions related paths.
  - name: Fees
    description: All fees related paths.
  - name: Portfolios
    description: All portfolios related paths.
  - name: Valuations
    description: All valuations related paths.
  - name: Liquidations
    description: All accounts liquidations related paths.
  - name: Returns
    description: All accounts returns related paths.
  - name: Virtual Cash Balances
    description: All virtual cash balances related paths
servers:
  - url: https://sandbox.upvest.co
    description: Sandbox environment
  - url: https://api.upvest.co
    description: Live environment
paths:
  /auth/token:
    parameters:
      - $ref: "#/components/parameters/clientID"
      - $ref: "#/components/parameters/signature"
      - $ref: "#/components/parameters/signatureInput"
      - $ref: "#/components/parameters/apiVersion"
    post:
      operationId: issue_token
      summary: Get an access token for requested scopes
      description: >-
        Get an access token to use with the API with specified scopes.


        You should _always_ scope your access tokens. You get one for read-access and separate ones for updating, creating or deleting resources.
      tags:
        - Access Tokens
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              title: Request - Auth - Request Access Token
              type: object
              description: Schema for access token request.
              properties:
                client_id:
                  type: string
                  format: uuid
                  description: Client ID given during onboarding.
                client_secret:
                  type: string
                  maxLength: 1000
                  description: Client Secret given during onboarding.
                grant_type:
                  type: string
                  default: client_credentials
                  description: This must always be `client_credentials`.
                scope:
                  type: string
                  maxLength: 1000
                  description: List of space delimited scopes to request for this access token.
              required:
                - client_id
                - client_secret
                - grant_type
                - scope
              additionalProperties: false
            example:
              client_id: 363f3305-7ab0-4e82-a158-f9d382ad08b6
              client_secret: WHIW1yic-ouct3sceh
              grant_type: client_credentials
              scope: users:read
      responses:
        "200":
          description: Access token successfully generated.
          headers:
            upvest-request-id:
              required: true
              schema:
                type: string
                format: uuid
                example: 169ae4c7-ebd7-4041-94da-25369653eba7
          content:
            application/json:
              schema:
                title: Auth - Access Token
                type: object
                description: Schema for an access token response.
                properties:
                  access_token:
                    type: string
                    maxLength: 1000
                    description: The generated access token.
                  expires_in:
                    type: integer
                    description: How many seconds the access token is valid for.
                  token_type:
                    type: string
                    default: bearer
                    description: This is always 'bearer'.
                  scope:
                    type: string
                    maxLength: 1000
                    description: List of space delimited scopes requested for this access token.
                required:
                  - access_token
                  - expires_in
                  - token_type
                  - scope
                additionalProperties: false
              example:
                access_token: token.signature
                expires_in: 86400
                token_type: bearer
                scope: users:read
        "400":
          $ref: "#/components/responses/ResponseError400"
        "401":
          $ref: "#/components/responses/ResponseError401"
        "403":
          $ref: "#/components/responses/ResponseError403"
        "406":
          $ref: "#/components/responses/ResponseError406"
        "429":
          $ref: "#/components/responses/ResponseError429"
        "500":
          $ref: "#/components/responses/ResponseError500"
        "503":
          $ref: "#/components/responses/ResponseError503"
        "504":
          $ref: "#/components/responses/ResponseError504"
  /auth/verify_keys:
    parameters:
      - $ref: "#/components/parameters/clientID"
      - name: authorization
        in: header
        description: |
          Bearer (access) token from the OAuth flow with correct scopes.
          https://datatracker.ietf.org/doc/html/rfc6750
        required: true
        schema:
          type: string
          pattern: ^Bearer [a-zA-Z0-9\-\._~+/]*=*
          example: Bearer c2VjcmV0Cg==
      - $ref: "#/components/parameters/signature"
      - $ref: "#/components/parameters/signatureInput"
      - $ref: "#/components/parameters/apiVersion"
    get:
      operationId: get_jwks
      summary: Get signing keys
      description: Get list of signing keys used to verify webhooks
      tags:
        - Webhooks
      security:
        - oauth-client-credentials:
            - webhooks:read
            - webhooks:admin
      responses:
        "200":
          description: JWKS signing public keys
          headers:
            upvest-request-id:
              required: true
              schema:
                type: string
                format: uuid
                example: 169ae4c7-ebd7-4041-94da-25369653eba7
          content:
            application/json:
              schema:
                title: Auth - Verification keys
                type: object
                description: Webhooks verification keys.
                properties:
                  keys:
                    type: array
                    description: List of verification keys
                    items:
                      type: object
                      properties:
                        kid:
                          type: string
                          format: uuid
                          description: Key ID
                        kty:
                          type: string
                          enum:
                            - EC
                          default: EC
                          description: "Cryptographic algorithm family used with the key.\n* EC - "
                        crv:
                          type: string
                          description: "Elliptic curve family.\n* P-521 - "
                          enum:
                            - P-521
                          default: P-521
                        x:
                          type: string
                          description: Curve parameter
                        y:
                          type: string
                          description: Curve parameter
                required:
                  - keys
                additionalProperties: false
              example:
                keys:
                  - kid: 9ed77463-c18e-4794-ab5c-17423f9b801a
                    kty: EC
                    crv: P-521
                    x: AcYAf5Ou0UvtehpeRvyhnvvrUQvjI4B3VCxfSmxK4gqKJGxO_jTB-nTdrHbBfmZpwmwYR86DppMg43E579K5MQ54
                    y: ALkrId77iD0Ye2vBS5bTkLqPH-bo8urTpTXiNc6Ub-VOFbXfJrR0tQ8COvVXXu58BTu8jWV-1mtbjfJpDl3ISbcK
        "401":
          $ref: "#/components/responses/ResponseError401"
        "403":
          $ref: "#/components/responses/ResponseError403"
        "406":
          $ref: "#/components/responses/ResponseError406"
        "429":
          $ref: "#/components/responses/ResponseError429"
        "500":
          $ref: "#/components/responses/ResponseError500"
        "503":
          $ref: "#/components/responses/ResponseError503"
        "504":
          $ref: "#/components/responses/ResponseError504"
  /webhooks:
    parameters:
      - $ref: "#/components/parameters/clientID"
      - name: authorization
        in: header
        description: |
          Bearer (access) token from the OAuth flow with correct scopes.
          https://datatracker.ietf.org/doc/html/rfc6750
        required: true
        schema:
          type: string
          pattern: ^Bearer [a-zA-Z0-9\-\._~+/]*=*
          example: Bearer c2VjcmV0Cg==
      - $ref: "#/components/parameters/signature"
      - $ref: "#/components/parameters/signatureInput"
      - $ref: "#/components/parameters/apiVersion"
    get:
      operationId: list_webhooks
      summary: List all webhooks
      description: List all webhooks
      tags:
        - Webhooks
      security:
        - oauth-client-credentials:
            - webhooks:read
            - webhooks:admin
      parameters:
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum:
              - created_at
              - updated_at
              - title
              - url
              - enabled
            default: created_at
          description: Sort the result by `created_at`, `updated_at`, `title`, `url`, or `enabled`.
        - name: order
          in: query
          required: false
          schema:
            type: string
            enum:
              - ASC
              - DESC
            default: ASC
          description: Sort order of the result list if the `sort` parameter is specified. Use `ASC` for ascending or `DESC` for descending sort order.
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          description: An object with a data property that contains an array of webhook subscription objects.
          headers:
            upvest-request-id:
              required: true
              schema:
                type: string
                format: uuid
                example: 169ae4c7-ebd7-4041-94da-25369653eba7
          content:
            application/json:
              schema:
                title: Webhooks - List - Response
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      offset:
                        type: integer
                        description: Amount of resource to offset in the response.
                      limit:
                        type: integer
                        description: Total limit of the response.
                      count:
                        type: integer
                        description: Count of the resources returned in the response.
                      total_count:
                        type: integer
                        description: Total count of all the resources.
                      sort:
                        type: string
                        description: The field that the list is sorted by.
                      order:
                        type: string
                        description: |-
                          The ordering of the response.
                          * ASC - Ascending order
                          * DESC - Descending order
                        enum:
                          - ASC
                          - DESC
                    required:
                      - offset
                      - limit
                      - count
                      - total_count
                  data:
                    type: array
                    items:
                      title: Webhook
                      type: object
                      additionalProperties: false
                      properties:
                        id:
                          title: Webhook ID
                          type: string
                          description: Webhook unique identifier.
                          format: uuid
                        created_at:
                          type: string
                          format: date-time
                          description: Date and time when the resource was created. [RFC 3339-5](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6), [ISO8601 UTC](https://www.iso.org/iso-8601-date-and-time-format.html)
                        updated_at:
                          type: string
                          format: date-time
                          description: Date and time when the resource was last updated. [RFC 3339-5](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6), [ISO8601 UTC](https://www.iso.org/iso-8601-date-and-time-format.html)
                        title:
                          type: string
                          maxLength: 100
                          description: Title of the webhook for use on tenant side.
                        url:
                          type: string
                          format: url
                          maxLength: 1000
                          description: The callback URL to be called by the webhook.
                        enabled:
                          type: boolean
                          description: Enable/disable webhook.
                        type:
                          type: array
                          description: What kind of events to be sent by the webhook.
                          default:
                            - ALL
                          items:
                            type: string
                            enum:
                              - ALL
                              - USER
                              - USER_CHECK
                              - ORDER
                              - ORDER_CANCELLATION
                              - EXECUTION
                              - POSITION
                              - CASH_BALANCE
                              - ACCOUNT
                              - ACCOUNT_GROUP
                              - REPORT
                              - TREASURY_REPORT
                              - DIRECT_DEBIT
                              - WITHDRAWAL
                              - PORTFOLIO
                              - PORTFOLIO_ALLOCATION
                              - PORTFOLIO_ORDER
                              - CORPORATE_ACTION
                              - ACCOUNT_VALUATION
                              - INTRADAY_ACCOUNT_VALUATION
                              - CASH_TRANSACTION
                              - SECURITY_TRANSACTION
                              - ACCOUNT_LIQUIDATION
                              - ACCOUNT_RETURNS
                              - VIRTUAL_CASH_INCREASE
                              - VIRTUAL_CASH_DECREASE
                              - FEE_COLLECTION
                        config:
                          type: object
                          description: Configuration of webhook packages collection.
                          properties:
                            delay:
                              type: string
                              pattern: ^[1-9][0-9]?[sm]$
                              description: Maximum time of package collection.
                            max_package_size:
                              type: integer
                              minimum: 100
                              maximum: 1048576
                              description: Maximum package size (bytes)
                      required:
                        - id
                        - created_at
                        - updated_at
                        - title
                        - url
                        - enabled
                        - type
                        - config
                required:
                  - meta
                  - data
                additionalProperties: false
              example:
                meta:
                  offset: 0
                  limit: 100
                  count: 1
                  total_count: 1
                  sort: id
                  order: ASC
                data:
                  - id: a8eb3540-5a84-40f9-b2bb-7f99f282fc5a
                    created_at: 2021-07-21T14:10:00.00Z
                    updated_at: 2021-07-21T14:10:00.00Z
                    title: User webhook
                    url: https://tenant.tld/webhooks/users
                    type:
                      - USER
                    enabled: false
                    config:
                      delay: 5s
                      max_package_size: 10240
        "400":
          $ref: "#/components/responses/ResponseError400"
        "401":
          $ref: "#/components/responses/ResponseError401"
        "403":
          $ref: "#/components/responses/ResponseError403"
        "406":
          $ref: "#/components/responses/ResponseError406"
        "429":
          $ref: "#/components/responses/ResponseError429"
        "500":
          $ref: "#/components/responses/ResponseError500"
        "503":
          $ref: "#/components/responses/ResponseError503"
        "504":
          $ref: "#/components/responses/ResponseError504"
    post:
      operationId: create_webhook
      summary: Create a webhook subscription
      description: Create a webhook subscription
      tags:
        - Webhooks
      security:
        - oauth-client-credentials:
            - webhooks:admin
      requestBody:
        content:
          application/json:
            schema:
              title: Webhook - Create - Request
              type: object
              properties:
                title:
                  type: string
                  maxLength: 100
                  description: Title of the webhook for use on tenant side.
                url:
                  type: string
                  format: url
                  maxLength: 1000
                  description: The callback URL to be called by the webhook.
                type:
                  type: array
                  description: What kind of events to be sent by the webhook.
                  default:
                    - ALL
                  items:
                    type: string
                    enum:
                      - ALL
                      - USER
                      - USER_CHECK
                      - ORDER
                      - ORDER_CANCELLATION
                      - EXECUTION
                      - POSITION
                      - CASH_BALANCE
                      - ACCOUNT
                      - ACCOUNT_GROUP
                      - REPORT
                      - TREASURY_REPORT
                      - DIRECT_DEBIT
                      - WITHDRAWAL
                      - PORTFOLIO
                      - PORTFOLIO_ALLOCATION
                      - PORTFOLIO_ORDER
                      - CORPORATE_ACTION
                      - ACCOUNT_VALUATION
                      - INTRADAY_ACCOUNT_VALUATION
                      - CASH_TRANSACTION
                      - SECURITY_TRANSACTION
                      - ACCOUNT_LIQUIDATION
                      - ACCOUNT_RETURNS
                      - VIRTUAL_CASH_INCREASE
                      - VIRTUAL_CASH_DECREASE
                      - FEE_COLLECTION
                config:
                  type: object
                  description: Configuration of webhook packages collection.
                  properties:
                    delay:
                      type: string
                      pattern: ^[1-9][0-9]?[sm]$
                      description: Maximum time of package collection.
                    max_package_size:
                      type: integer
                      minimum: 100
                      maximum: 1048576
                      description: Maximum package size (bytes)
              required:
                - title
                - url
              additionalProperties: false
            example:
              title: User webhook
              url: https://tenant.tld/webhooks/users
              type:
                - USER
              config:
                delay: 5s
                max_package_size: 10240
      responses:
        "201":
          description: Returns a webhook subscription object if a valid webhook subscription object ID was provided.
          headers:
            upvest-request-id:
              required: true
              schema:
                type: string
                format: uuid
                example: 169ae4c7-ebd7-4041-94da-25369653eba7
          content:
            application/json:
              schema:
                title: Webhook
                type: object
                additionalProperties: false
                properties:
                  id:
                    title: Webhook ID
                    type: string
                    description: Webhook unique identifier.
                    format: uuid
                  created_at:
                    type: string
                    format: date-time
                    description: Date and time when the resource was created. [RFC 3339-5](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6), [ISO8601 UTC](https://www.iso.org/iso-8601-date-and-time-format.html)
                  updated_at:
                    type: string
                    format: date-time
                    description: Date and time when the resource was last updated. [RFC 3339-5](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6), [ISO8601 UTC](https://www.iso.org/iso-8601-date-and-time-format.html)
                  title:
                    type: string
                    maxLength: 100
                    description: Title of the webhook for use on tenant side.
                  url:
                    type: string
                    format: url
                    maxLength: 1000
                    description: The callback URL to be called by the webhook.
                  enabled:
                    type: boolean
                    description: Enable/disable webhook.
                  type:
                    type: array
                    description: What kind of events to be sent by the webhook.
                    default:
                      - ALL
                    items:
                      type: string
                      enum:
                        - ALL
                        - USER
                        - USER_CHECK
                        - ORDER
                        - ORDER_CANCELLATION
                        - EXECUTION
                        - POSITION
                        - CASH_BALANCE
                        - ACCOUNT
                        - ACCOUNT_GROUP
                        - REPORT
                        - TREASURY_REPORT
                        - DIRECT_DEBIT
                        - WITHDRAWAL
                        - PORTFOLIO
                        - PORTFOLIO_ALLOCATION
                        - PORTFOLIO_ORDER
                        - CORPORATE_ACTION
                        - ACCOUNT_VALUATION
                        - INTRADAY_ACCOUNT_VALUATION
                        - CASH_TRANSACTION
                        - SECURITY_TRANSACTION
                        - ACCOUNT_LIQUIDATION
                        - ACCOUNT_RETURNS
                        - VIRTUAL_CASH_INCREASE
                        - VIRTUAL_CASH_DECREASE
                        - FEE_COLLECTION
                  config:
                    type: object
                    description: Configuration of webhook packages collection.
                    properties:
                      delay:
                        type: string
                        pattern: ^[1-9][0-9]?[sm]$
                        description: Maximum time of package collection.
                      max_package_size:
                        type: integer
                        minimum: 100
                        maximum: 1048576
                        description: Maximum package size (bytes)
                required:
                  - id
                  - created_at
                  - updated_at
                  - title
                  - url
                  - enabled
                  - type
                  - config
              example:
                id: a8eb3540-5a84-40f9-b2bb-7f99f282fc5a
                created_at: 2021-07-21T14:10:00.00Z
                updated_at: 2021-07-21T14:10:00.00Z
                title: User webhook
                url: https://tenant.tld/webhooks/users
                type:
                  - USER
                enabled: false
                config:
                  delay: 5s
                  max_package_size: 10240
        "400":
          $ref: "#/components/responses/ResponseError400"
        "401":
          $ref: "#/components/responses/ResponseError401"
        "403":
          $ref: "#/components/responses/ResponseError403"
        "406":
          $ref: "#/components/responses/ResponseError406"
        "429":
          $ref: "#/components/responses/ResponseError429"
        "500":
          $ref: "#/components/responses/ResponseError500"
        "503":
          $ref: "#/components/responses/ResponseError503"
        "504":
          $ref: "#/components/responses/ResponseError504"
  "/webhooks/{webhook_id}":
    parameters:
      - name: webhook_id
        in: path
        description: Webhook identifier
        required: true
        schema:
          title: Webhook ID
          type: string
          description: Webhook unique identifier.
          format: uuid
      - $ref: "#/components/parameters/clientID"
      - name: authorization
        in: header
        description: |
          Bearer (access) token from the OAuth flow with correct scopes.
          https://datatracker.ietf.org/doc/html/rfc6750
        required: true
        schema:
          type: string
          pattern: ^Bearer [a-zA-Z0-9\-\._~+/]*=*
          example: Bearer c2VjcmV0Cg==
      - $ref: "#/components/parameters/signature"
      - $ref: "#/components/parameters/signatureInput"
      - $ref: "#/components/parameters/apiVersion"
    get:
      operationId: retrieve_webhook
      summary: Retrieve a webhook subscription
      description: Retrieve a webhook subscription
      tags:
        - Webhooks
      security:
        - oauth-client-credentials:
            - webhooks:read
            - webhooks:admin
      responses:
        "200":
          description: Returns a webhook subscription object if a valid webhook subscription object ID was provided.
          headers:
            upvest-request-id:
              required: true
              schema:
                type: string
                format: uuid
                example: 169ae4c7-ebd7-4041-94da-25369653eba7
          content:
            application/json:
              schema:
                title: Webhook
                type: object
                additionalProperties: false
                properties:
                  id:
                    title: Webhook ID
                    type: string
                    description: Webhook unique identifier.
                    format: uuid
                  created_at:
                    type: string
                    format: date-time
                    description: Date and time when the resource was created. [RFC 3339-5](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6), [ISO8601 UTC](https://www.iso.org/iso-8601-date-and-time-format.html)
                  updated_at:
                    type: string
                    format: date-time
                    description: Date and time when the resource was last updated. [RFC 3339-5](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6), [ISO8601 UTC](https://www.iso.org/iso-8601-date-and-time-format.html)
                  title:
                    type: string
                    maxLength: 100
                    description: Title of the webhook for use on tenant side.
                  url:
                    type: string
                    format: url
                    maxLength: 1000
                    description: The callback URL to be called by the webhook.
                  enabled:
                    type: boolean
                    description: Enable/disable webhook.
                  type:
                    type: array
                    description: What kind of events to be sent by the webhook.
                    default:
                      - ALL
                    items:
                      type: string
                      enum:
                        - ALL
                        - USER
                        - USER_CHECK
                        - ORDER
                        - ORDER_CANCELLATION
                        - EXECUTION
                        - POSITION
                        - CASH_BALANCE
                        - ACCOUNT
                        - ACCOUNT_GROUP
                        - REPORT
                        - TREASURY_REPORT
                        - DIRECT_DEBIT
                        - WITHDRAWAL
                        - PORTFOLIO
                        - PORTFOLIO_ALLOCATION
                        - PORTFOLIO_ORDER
                        - CORPORATE_ACTION
                        - ACCOUNT_VALUATION
                        - INTRADAY_ACCOUNT_VALUATION
                        - CASH_TRANSACTION
                        - SECURITY_TRANSACTION
                        - ACCOUNT_LIQUIDATION
                        - ACCOUNT_RETURNS
                        - VIRTUAL_CASH_INCREASE
                        - VIRTUAL_CASH_DECREASE
                        - FEE_COLLECTION
                  config:
                    type: object
                    description: Configuration of webhook packages collection.
                    properties:
                      delay:
                        type: string
                        pattern: ^[1-9][0-9]?[sm]$
                        description: Maximum time of package collection.
                      max_package_size:
                        type: integer
                        minimum: 100
                        maximum: 1048576
                        description: Maximum package size (bytes)
                required:
                  - id
                  - created_at
                  - updated_at
                  - title
                  - url
                  - enabled
                  - type
                  - config
              example:
                id: a8eb3540-5a84-40f9-b2bb-7f99f282fc5a
                created_at: 2021-07-21T14:10:00.00Z
                updated_at: 2021-07-21T14:10:00.00Z
                title: User webhook
                url: https://tenant.tld/webhooks/users
                type:
                  - USER
                enabled: true
                config:
                  delay: 5s
                  max_package_size: 1024
        "401":
          $ref: "#/components/responses/ResponseError401"
        "403":
          $ref: "#/components/responses/ResponseError403"
        "404":
          $ref: "#/components/responses/ResponseError404"
        "406":
          $ref: "#/components/responses/ResponseError406"
        "429":
          $ref: "#/components/responses/ResponseError429"
        "500":
          $ref: "#/components/responses/ResponseError500"
        "503":
          $ref: "#/components/responses/ResponseError503"
        "504":
          $ref: "#/components/responses/ResponseError504"
    delete:
      operationId: delete_webhook
      summary: Delete a webhook subscription
      description: Delete a webhook subscription
      tags:
        - Webhooks
      security:
        - oauth-client-credentials:
            - webhooks:admin
      responses:
        "204":
          description: Request has been processed successfully.
          headers:
            upvest-request-id:
              required: true
              schema:
                type: string
                format: uuid
                example: 169ae4c7-ebd7-4041-94da-25369653eba7
        "401":
          $ref: "#/components/responses/ResponseError401"
        "403":
          $ref: "#/components/responses/ResponseError403"
        "404":
          $ref: "#/components/responses/ResponseError404"
        "429":
          $ref: "#/components/responses/ResponseError429"
        "500":
          $ref: "#/components/responses/ResponseError500"
        "503":
          $ref: "#/components/responses/ResponseError503"
        "504":
          $ref: "#/components/responses/ResponseError504"
    patch:
      operationId: update_webhook
      summary: Update a webhook subscription
      description: Update a webhook subscription
      tags:
        - Webhooks
      security:
        - oauth-client-credentials:
            - webhooks:admin
      requestBody:
        content:
          application/json:
            schema:
              title: Webhook - Update - Request
              type: object
              properties:
                title:
                  type: string
                  maxLength: 100
                  description: Title of the webhook for use on tenant side.
                url:
                  type: string
                  format: url
                  maxLength: 1000
                  description: The callback URL to be called by the webhook.
                enabled:
                  type: boolean
                  description: Enable/disable webhook.
                type:
                  type: array
                  description: What kind of events to be sent by the webhook.
                  default:
                    - ALL
                  items:
                    type: string
                    enum:
                      - ALL
                      - USER
                      - USER_CHECK
                      - ORDER
                      - ORDER_CANCELLATION
                      - EXECUTION
                      - POSITION
                      - CASH_BALANCE
                      - ACCOUNT
                      - ACCOUNT_GROUP
                      - REPORT
                      - TREASURY_REPORT
                      - DIRECT_DEBIT
                      - WITHDRAWAL
                      - PORTFOLIO
                      - PORTFOLIO_ALLOCATION
                      - PORTFOLIO_ORDER
                      - CORPORATE_ACTION
                      - ACCOUNT_VALUATION
                      - INTRADAY_ACCOUNT_VALUATION
                      - CASH_TRANSACTION
                      - SECURITY_TRANSACTION
                      - ACCOUNT_LIQUIDATION
                      - ACCOUNT_RETURNS
                      - VIRTUAL_CASH_INCREASE
                      - VIRTUAL_CASH_DECREASE
                      - FEE_COLLECTION
                config:
                  type: object
                  description: Configuration of webhook packages collection.
                  properties:
                    delay:
                      type: string
                      pattern: ^[1-9][0-9]?[sm]$
                      description: Maximum time of package collection.
                    max_package_size:
                      type: integer
                      minimum: 100
                      maximum: 1048576
                      description: Maximum package size (bytes)
              additionalProperties: false
            example:
              url: https://tenant.tld/webhooks/users
              type:
                - USER
      responses:
        "200":
          description: Returns a webhook subscription object if a valid webhook subscription object ID was provided.
          headers:
            upvest-request-id:
              required: true
              schema:
                type: string
                format: uuid
                example: 169ae4c7-ebd7-4041-94da-25369653eba7
          content:
            application/json:
              schema:
                title: Webhook
                type: object
                additionalProperties: false
                properties:
                  id:
                    title: Webhook ID
                    type: string
                    description: Webhook unique identifier.
                    format: uuid
                  created_at:
                    type: string
                    format: date-time
                    description: Date and time when the resource was created. [RFC 3339-5](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6), [ISO8601 UTC](https://www.iso.org/iso-8601-date-and-time-format.html)
                  updated_at:
                    type: string
                    format: date-time
                    description: Date and time when the resource was last updated. [RFC 3339-5](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6), [ISO8601 UTC](https://www.iso.org/iso-8601-date-and-time-format.html)
                  title:
                    type: string
                    maxLength: 100
                    description: Title of the webhook for use on tenant side.
                  url:
                    type: string
                    format: url
                    maxLength: 1000
                    description: The callback URL to be called by the webhook.
                  enabled:
                    type: boolean
                    description: Enable/disable webhook.
                  type:
                    type: array
                    description: What kind of events to be sent by the webhook.
                    default:
                      - ALL
                    items:
                      type: string
                      enum:
                        - ALL
                        - USER
                        - USER_CHECK
                        - ORDER
                        - ORDER_CANCELLATION
                        - EXECUTION
                        - POSITION
                        - CASH_BALANCE
                        - ACCOUNT
                        - ACCOUNT_GROUP
                        - REPORT
                        - TREASURY_REPORT
                        - DIRECT_DEBIT
                        - WITHDRAWAL
                        - PORTFOLIO
                        - PORTFOLIO_ALLOCATION
                        - PORTFOLIO_ORDER
                        - CORPORATE_ACTION
                        - ACCOUNT_VALUATION
                        - INTRADAY_ACCOUNT_VALUATION
                        - CASH_TRANSACTION
                        - SECURITY_TRANSACTION
                        - ACCOUNT_LIQUIDATION
                        - ACCOUNT_RETURNS
                        - VIRTUAL_CASH_INCREASE
                        - VIRTUAL_CASH_DECREASE
                        - FEE_COLLECTION
                  config:
                    type: object
                    description: Configuration of webhook packages collection.
                    properties:
                      delay:
                        type: string
                        pattern: ^[1-9][0-9]?[sm]$
                        description: Maximum time of package collection.
                      max_package_size:
                        type: integer
                        minimum: 100
                        maximum: 1048576
                        description: Maximum package size (bytes)
                required:
                  - id
                  - created_at
                  - updated_at
                  - title
                  - url
                  - enabled
                  - type
                  - config
              example:
                id: a8eb3540-5a84-40f9-b2bb-7f99f282fc5a
                created_at: 2021-07-21T14:10:00.00Z
                updated_at: 2021-07-21T14:10:00.00Z
                title: User webhook
                url: https://tenant.tld/webhooks/users
                type:
                  - USER
                enabled: true
                config:
                  delay: 5s
                  max_package_size: 10240
        "400":
          $ref: "#/components/responses/ResponseError400"
        "401":
          $ref: "#/components/responses/ResponseError401"
        "403":
          $ref: "#/components/responses/ResponseError403"
        "404":
          $ref: "#/components/responses/ResponseError404"
        "406":
          $ref: "#/components/responses/ResponseError406"
        "429":
          $ref: "#/components/responses/ResponseError429"
        "500":
          $ref: "#/components/responses/ResponseError500"
        "503":
          $ref: "#/components/responses/ResponseError503"
        "504":
          $ref: "#/components/responses/ResponseError504"
  "/webhooks/{webhook_id}/test":
    parameters:
      - name: webhook_id
        in: path
        description: Webhook identifier
        required: true
        schema:
          title: Webhook ID
          type: string
          description: Webhook unique identifier.
          format: uuid
      - $ref: "#/components/parameters/clientID"
      - name: authorization
        in: header
        description: |
          Bearer (access) token from the OAuth flow with correct scopes.
          https://datatracker.ietf.org/doc/html/rfc6750
        required: true
        schema:
          type: string
          pattern: ^Bearer [a-zA-Z0-9\-\._~+/]*=*
          example: Bearer c2VjcmV0Cg==
      - $ref: "#/components/parameters/signature"
      - $ref: "#/components/parameters/signatureInput"
      - $ref: "#/components/parameters/apiVersion"
    post:
      operationId: test_webhook
      summary: Test a webhook
      description: Test a webhook
      tags:
        - Webhooks
      security:
        - oauth-client-credentials:
            - webhooks:admin
      responses:
        "202":
          description: The request has been successfully accepted and will be processed asynchronously.
          headers:
            upvest-request-id:
              required: true
              schema:
                type: string
                format: uuid
                example: 169ae4c7-ebd7-4041-94da-25369653eba7
        "401":
          $ref: "#/components/responses/ResponseError401"
        "403":
          $ref: "#/components/responses/ResponseError403"
        "404":
          $ref: "#/components/responses/ResponseError404"
        "406":
          $ref: "#/components/responses/ResponseError406"
        "429":
          $ref: "#/components/responses/ResponseError429"
        "500":
          $ref: "#/components/responses/ResponseError500"
        "503":
          $ref: "#/components/responses/ResponseError503"
        "504":
          $ref: "#/components/responses/ResponseError504"
  /users:
    parameters:
      - $ref: "#/components/parameters/clientID"
      - name: authorization
        in: header
        description: |
          Bearer (access) token from the OAuth flow with correct scopes.
          https://datatracker.ietf.org/doc/html/rfc6750
        required: true
        schema:
          type: string
          pattern: ^Bearer [a-zA-Z0-9\-\._~+/]*=*
          example: Bearer c2VjcmV0Cg==
      - $ref: "#/components/parameters/signature"
      - $ref: "#/components/parameters/signatureInput"
      - $ref: "#/components/parameters/apiVersion"
    get:
      operationId: list_users
      summary: Get all users
      description: Returns the list of all users.
      tags:
        - Users
      security:
        - oauth-client-credentials:
            - users:read
            - users:admin
      parameters:
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum:
              - created_at
            default: created_at
          description: Sort the result by `created_at`.
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          description: OK
          headers:
            upvest-request-id:
              required: true
              schema:
                type: string
                format: uuid
                example: 169ae4c7-ebd7-4041-94da-25369653eba7
          content:
            application/json:
              schema:
                title: Users - List - Response
                type: object
                description: ""
                properties:
                  meta:
                    type: object
                    properties:
                      offset:
                        type: integer
                        description: Amount of resource to offset in the response.
                      limit:
                        type: integer
                        description: Total limit of the response.
                      count:
                        type: integer
                        description: Count of the resources returned in the response.
                      total_count:
                        type: integer
                        description: Total count of all the resources.
                      sort:
                        type: string
                        description: The field that the list is sorted by.
                      order:
                        type: string
                        description: |-
                          The ordering of the response.
                          * ASC - Ascending order
                          * DESC - Descending order
                        enum:
                          - ASC
                          - DESC
                    required:
                      - offset
                      - limit
                      - count
                      - total_count
                  data:
                    oneOf:
                      - anyOf:
                          - title: Users (BYOL) - List
                            type: array
                            minItems: 1
                            items:
                              title: User (BYOL)
                              type: object
                              properties:
                                id:
                                  title: User unique identifier.
                                  type: string
                                  description: User unique identifier.
                                  format: uuid
                                created_at:
                                  type: string
                                  format: date-time
                                  description: Date and time when the resource was created. [RFC 3339-5](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6), [ISO8601 UTC](https://www.iso.org/iso-8601-date-and-time-format.html)
                                updated_at:
                                  type: string
                                  format: date-time
                                  description: Date and time when the resource was last updated. [RFC 3339-5](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6), [ISO8601 UTC](https://www.iso.org/iso-8601-date-and-time-format.html)
                                first_name:
                                  type: string
                                  maxLength: 100
                                  minLength: 2
                                  description: First name of the user.
                                last_name:
                                  type: string
                                  maxLength: 100
                                  minLength: 2
                                  description: Last name of the user.
                                salutation:
                                  type: string
                                  description: "Salutation of the user used in reports and statements.\n* (empty string) - \n* SALUTATION_MALE - \n* SALUTATION_FEMALE - \n* SALUTATION_FEMALE_MARRIED - \n* SALUTATION_DIVERSE - "
                                  enum:
                                    - ""
                                    - SALUTATION_MALE
                                    - SALUTATION_FEMALE
                                    - SALUTATION_FEMALE_MARRIED
                                    - SALUTATION_DIVERSE
                                  default: ""
                                title:
                                  type: string
                                  description: "Title of the user used in reports and statements.\n* (empty string) - \n* DR - Doctor\n* PROF - Professor\n* PROF_DR - \n* DIPL_ING - Graduate engineer (Diplom-Ingenieur)\n* MAGISTER - "
                                  enum:
                                    - ""
                                    - DR
                                    - PROF
                                    - PROF_DR
                                    - DIPL_ING
                                    - MAGISTER
                                  default: ""
                                birth_date:
                                  type: string
                                  format: date
                                  description: Birth date of the user in YYYY-MM-DD format. [RFC 3339, section 5.6](https://json-schema.org/draft/2020-12/json-schema-validation.html#RFC3339)
                                birth_city:
                                  title: City name
                                  type: string
                                  minLength: 1
                                  maxLength: 85
                                birth_country:
                                  description: Country code. [ISO 3166 alpha-2 Codes](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
                                  type: string
                                  pattern: ^[A-Z]{2}$
                                birth_name:
                                  type: string
                                  maxLength: 100
                                  description: If applicable, birth name of the user.
                                nationalities:
                                  type: array
                                  items:
                                    description: Country code. [ISO 3166 alpha-2 Codes](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
                                    type: string
                                    pattern: ^[A-Z]{2}$
                                  minItems: 1
                                  description: Nationalities of the user. [ISO 3166 alpha-2 Codes](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
                                address:
                                  title: Address
                                  type: object
                                  description: Address. Must not be a P.O. box or c/o address.
                                  properties:
                                    address_line1:
                                      type: string
                                      description: First address line of the address.
                                      maxLength: 100
                                    address_line2:
                                      type: string
                                      description: Second address line of the address.
                                      maxLength: 100
                                    postcode:
                                      title: Postal code
                                      type: string
                                      description: Postal code (postcode, PIN or ZIP code)
                                      pattern: ^[a-zA-Z0-9\s\-]{1,10}$
                                    country:
                                      description: Country code. [ISO 3166 alpha-2 Codes](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
                                      type: string
                                      pattern: ^[A-Z]{2}$
                                    state:
                                      description: State, province, county. [ISO 3166 alpha-2 Codes](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
                                      type: string
                                      maxLength: 50
                                    city:
                                      title: City name
                                      type: string
                                      minLength: 1
                                      maxLength: 85
                                  required:
                                    - address_line1
                                    - postcode
                                    - country
                                    - city
                                postal_address:
                                  description: User postal address. Needs to be specified if different to the residential address, otherwise it is automatically populated.
                                  oneOf:
                                    - title: Address
                                      type: object
                                      description: Address. Must not be a P.O. box or c/o address.
                                      properties:
                                        address_line1:
                                          type: string
                                          description: First address line of the address.
                                          maxLength: 100
                                        address_line2:
                                          type: string
                                          description: Second address line of the address.
                                          maxLength: 100
                                        postcode:
                                          title: Postal code
                                          type: string
                                          description: Postal code (postcode, PIN or ZIP code)
                                          pattern: ^[a-zA-Z0-9\s\-]{1,10}$
                                        country:
                                          description: Country code. [ISO 3166 alpha-2 Codes](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
                                          type: string
                                          pattern: ^[A-Z]{2}$
                                        state:
                                          description: State, province, county. [ISO 3166 alpha-2 Codes](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
                                          type: string
                                          maxLength: 50
                                        city:
                                          title: City name
                                          type: string
                                          minLength: 1
                                          maxLength: 85
                                      required:
                                        - address_line1
                                        - postcode
                                        - country
                                        - city
                                    - type: "null"
                                status:
                                  type: string
                                  description: "Status of the user.\n* ACTIVE - \n* INACTIVE - \n* OFFBOARDING - \n* OFFBOARDED - "
                                  enum:
                                    - ACTIVE
                                    - INACTIVE
                                    - OFFBOARDING
                                    - OFFBOARDED
                              required:
                                - id
                                - created_at
                                - updated_at
                                - first_name
                                - last_name
                                - birth_date
                                - nationalities
                                - address
                                - status
                              additionalProperties: false
                          - title: Users (TOL) - List
                            type: array
                            minItems: 1
                            items:
                              title: User (TOL)
                              type: object
                              properties:
                                id:
                                  title: User unique identifier.
                                  type: string
                                  description: User unique identifier.
                                  format: uuid
                                created_at:
                                  type: string
                                  format: date-time
                                  description: Date and time when the resource was created. [RFC 3339-5](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6), [ISO8601 UTC](https://www.iso.org/iso-8601-date-and-time-format.html)
                                updated_at:
                                  type: string
                                  format: date-time
                                  description: Date and time when the resource was last updated. [RFC 3339-5](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6), [ISO8601 UTC](https://www.iso.org/iso-8601-date-and-time-format.html)
                                first_name:
                                  type: string
                                  maxLength: 100
                                  minLength: 2
                                  description: First name of the user.
                                last_name:
                                  type: string
                                  maxLength: 100
                                  minLength: 2
                                  description: Last name of the user.
                                salutation:
                                  type: string
                                  description: "Salutation of the user used in reports and statements.\n* (empty string) - \n* SALUTATION_MALE - \n* SALUTATION_FEMALE - \n* SALUTATION_FEMALE_MARRIED - \n* SALUTATION_DIVERSE - "
                                  enum:
                                    - ""
                                    - SALUTATION_MALE
                                    - SALUTATION_FEMALE
                                    - SALUTATION_FEMALE_MARRIED
                                    - SALUTATION_DIVERSE
                                  default: ""
                                title:
                                  type: string
                                  description: "Title of the user used in reports and statements.\n* (empty string) - \n* DR - Doctor\n* PROF - Professor\n* PROF_DR - \n* DIPL_ING - Graduate engineer (Diplom-Ingenieur)\n* MAGISTER - "
                                  enum:
                                    - ""
                                    - DR
                                    - PROF
                                    - PROF_DR
                                    - DIPL_ING
                                    - MAGISTER
                                  default: ""
                                birth_date:
                                  type: string
                                  format: date
                                  description: Birth date of the user in YYYY-MM-DD format. [RFC 3339, section 5.6](https://json-schema.org/draft/2020-12/json-schema-validation.html#RFC3339)
                                birth_city:
                                  title: City name
                                  type: string
                                  minLength: 1
                                  maxLength: 85
                                birth_country:
                                  description: Country code. [ISO 3166 alpha-2 Codes](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
                                  type: string
                                  pattern: ^[A-Z]{2}$
                                birth_name:
                                  type: string
                                  maxLength: 100
                                  description: If applicable, birth name of the user.
                                nationalities:
                                  type: array
                                  items:
                                    description: Country code. [ISO 3166 alpha-2 Codes](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
                                    type: string
                                    pattern: ^[A-Z]{2}$
                                  minItems: 1
                                  description: Nationalities of the user. [ISO 3166 alpha-2 Codes](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
                                address:
                                  title: Address
                                  type: object
                                  description: Address. Must not be a P.O. box or c/o address.
                                  properties:
                                    address_line1:
                                      type: string
                                      description: First address line of the address.
                                      maxLength: 100
                                    address_line2:
                                      type: string
                                      description: Second address line of the address.
                                      maxLength: 100
                                    postcode:
                                      title: Postal code
                                      type: string
                                      description: Postal code (postcode, PIN or ZIP code)
                                      pattern: ^[a-zA-Z0-9\s\-]{1,10}$
                                    country:
                                      description: Country code. [ISO 3166 alpha-2 Codes](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
                                      type: string
                                      pattern: ^[A-Z]{2}$
                                    state:
                                      description: State, province, county. [ISO 3166 alpha-2 Codes](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
                                      type: string
                                      maxLength: 50
                                    city:
                                      title: City name
                                      type: string
                                      minLength: 1
                                      maxLength: 85
                                  required:
                                    - address_line1
                                    - postcode
                                    - country
                                    - city
                                postal_address:
                                  description: User postal address. Needs to be specified if different to the residential address, otherwise it is automatically populated.
                                  oneOf:
                                    - title: Address
                                      type: object
                                      description: Address. Must not be a P.O. box or c/o address.
                                      properties:
                                        address_line1:
                                          type: string
                                          description: First address line of the address.
                                          maxLength: 100
                                        address_line2:
                                          type: string
                                          description: Second address line of the address.
                                          maxLength: 100
                                        postcode:
                                          title: Postal code
                                          type: string
                                          description: Postal code (postcode, PIN or ZIP code)
                                          pattern: ^[a-zA-Z0-9\s\-]{1,10}$
                                        country:
                                          description: Country code. [ISO 3166 alpha-2 Codes](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
                                          type: string
                                          pattern: ^[A-Z]{2}$
                                        state:
                                          description: State, province, county. [ISO 3166 alpha-2 Codes](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
                                          type: string
                                          maxLength: 50
                                        city:
                                          title: City name
                                          type: string
                                          minLength: 1
                                          maxLength: 85
                                      required:
                                        - address_line1
                                        - postcode
                                        - country
                                        - city
                                    - type: "null"
                                status:
                                  type: string
                                  description: "Status of the user.\n* ACTIVE - \n* INACTIVE - \n* OFFBOARDING - \n* OFFBOARDED - "
                                  enum:
                                    - ACTIVE
                                    - INACTIVE
                                    - OFFBOARDING
                                    - OFFBOARDED
                                email:
                                  type: string
                                  format: email
                                  maxLength: 100
                                  description: Email of the user. Must be a valid email address.
                                phone_number:
                                  type: string
                                  pattern: ^([0-9]{8,15})?$
                                  description: Phone number of the user. [Phone number E.164 format](https://en.wikipedia.org/wiki/E.164).
                                fatca:
                                  type: object
                                  properties:
                                    status:
                                      type: boolean
                                      description: The user’s FATCA status is true if the user is subject to paying taxes in the US, otherwise it can be set to false.
                                    confirmed_at:
                                      type: string
                                      format: date-time
                                      description: Timestamp at which the user confirmed their FATCA status. [RFC 3339-5](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6), [ISO8601 UTC](https://www.iso.org/iso-8601-date-and-time-format.html)
                                  required:
                                    - status
                                    - confirmed_at
                                terms_and_conditions:
                                  type: object
                                  properties:
                                    consent_document_id:
                                      title: Consent unique identifier.
                                      type: string
                                      description: Consent unique identifier.
                                      format: uuid
                                    confirmed_at:
                                      type: string
                                      format: date-time
                                      description: Timestamp at which the user consented to the terms & conditions. [RFC 3339-5](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6), [ISO8601 UTC](https://www.iso.org/iso-8601-date-and-time-format.html)
                                  required:
                                    - consent_document_id
                                    - confirmed_at
                                data_privacy_and_sharing_agreement:
                                  type: object
                                  properties:
                                    consent_document_id:
                                      title: Consent unique identifier.
                                      type: string
                                      description: Consent unique identifier.
                                      format: uuid
                                    confirmed_at:
                                      type: string
                                      format: date-time
                                      description: Timestamp at which the user consented to the data sharing agreement. [RFC 3339-5](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6), [ISO8601 UTC](https://www.iso.org/iso-8601-date-and-time-format.html)
                                  required:
                                    - consent_document_id
                                    - confirmed_at
                              required:
                                - id
                                - created_at
                                - updated_at
                                - first_name
                                - last_name
                                - birth_date
                                - nationalities
                                - address
                                - status
                              additionalProperties: false
                      - title: empty Users - List
                        description: For empty lists, JSON schema's 'oneOf' matches both 'Users (BYOL) - List' *and* 'Users (TOL) - List' and hence fails. So we need this extra 'oneOf' branch specifically for empty lists, distinguished by 'minItems' and 'maxItems'.
                        type: array
                        maxItems: 0
                        items:
                          description: All items on list responses must be objects.
                          type: object
                          properties: {}
                required:
                  - meta
                  - data
                additionalProperties: false
              examples:
                BYOL:
                  summary: BYOL users
                  value:
                    meta:
                      offset: 0
                      limit: 100
                      count: 1
                      total_count: 1
                      sort: id
                      order: ASC
                    data:
                      - id: 83d83ec2-d2ca-49ff-bbea-b92b5c3be202
                        created_at: 2021-07-21T14:10:00.00Z
                        updated_at: 2021-07-21T14:10:00.00Z
                        first_name: Karl
                        last_name: Schmidt
                        salutation: SALUTATION_MALE
                        title: DR
                        birth_date: 1972-09-30
                        birth_city: Berlin
                        birth_country: DE
                        birth_name: Schmidt
                        nationalities:
                          - DE
                          - AU
                        postal_address:
                          address_line1: Rosenweg 221
                          address_line2: apt. 33
                          postcode: "45678"
                          city: Berlin
                          state: BE
                          country: DE
                        address:
                          address_line1: Rosenweg 221
                          address_line2: apt. 33
                          postcode: "45678"
                          city: Berlin
                          state: BE
                          country: DE
                        status: ACTIVE
                      - id: 287673ef-1bae-4d8a-9e78-8ddaae249d72
                        created_at: 2021-07-21T14:10:00.00Z
                        updated_at: 2021-07-21T14:10:00.00Z
                        first_name: John
                        last_name: Doe
                        salutation: SALUTATION_MALE
                        title: PROF_DR
                        birth_date: 1970-10-01
                        birth_city: Berlin
                        birth_country: DE
                        birth_name: Schmidt
                        nationalities:
                          - DE
                          - AU
                        postal_address: null
                        address:
                          address_line1: Rosenweg 221
                          address_line2: apt. 33
                          postcode: "45678"
                          city: Berlin
                          state: BE
                          country: DE
                        status: ACTIVE
                TOL:
                  summary: TOL users
                  value:
                    meta:
                      offset: 0
                      limit: 100
                      count: 1
                      total_count: 1
                      sort: id
                      order: ASC
                    data:
                      - id: 83d83ec2-d2ca-49ff-bbea-b92b5c3be202
                        created_at: 2021-07-21T14:10:00.00Z
                        updated_at: 2021-07-21T14:10:00.00Z
                        first_name: Karl
                        last_name: Schmidt
                        email: karl.schmidt@example.com
                        salutation: SALUTATION_MALE
                        title: DR
                        birth_date: 1972-09-30
                        birth_city: Berlin
                        birth_country: DE
                        birth_name: Schmidt
                        nationalities:
                          - DE
                          - AU
                        phone_number: "4930901820"
                        postal_address:
                          address_line1: Rosenweg 221
                          address_line2: apt. 33
                          postcode: "45678"
                          city: Berlin
                          state: BE
                          country: DE
                        address:
                          address_line1: Rosenweg 221
                          address_line2: apt. 33
                          postcode: "45678"
                          city: Berlin
                          state: BE
                          country: DE
                        fatca:
                          status: false
                          confirmed_at: 2020-08-24T14:15:22Z
                        terms_and_conditions:
                          consent_document_id: a8a87268-4f3c-4de2-abb9-a553a3bb7608
                          confirmed_at: 2020-08-24T14:14:22Z
                        data_privacy_and_sharing_agreement:
                          consent_document_id: fb1827c3-2b29-47e1-84da-996d09517edc
                          confirmed_at: 2020-08-24T14:16:22Z
                        status: ACTIVE
                      - id: 83d83ec2-d2ca-49ff-bbea-b92b5c3be202
                        created_at: 2021-07-21T14:10:00.00Z
                        updated_at: 2021-07-21T14:10:00.00Z
                        first_name: Karl
                        last_name: Schmidt
                        email: karl.schmidt@example.com
                        salutation: SALUTATION_MALE
                        title: DR
                        birth_date: 1972-09-30
                        birth_city: Berlin
                        birth_country: DE
                        birth_name: Schmidt
                        nationalities:
                          - DE
                          - AU
                        phone_number: "4930901820"
                        postal_address: null
                        address:
                          address_line1: Rosenweg 221
                          address_line2: apt. 33
                          postcode: "45678"
                          city: Berlin
                          state: BE
                          country: DE
                        fatca:
                          status: false
                          confirmed_at: 2020-08-24T14:15:22Z
                        terms_and_conditions:
                          consent_document_id: a8a87268-4f3c-4de2-abb9-a553a3bb7608
                          confirmed_at: 2020-08-24T14:14:22Z
                        data_privacy_and_sharing_agreement:
                          consent_document_id: fb1827c3-2b29-47e1-84da-996d09517edc
                          confirmed_at: 2020-08-24T14:16:22Z
                        status: ACTIVE
                empty:
                  summary: Empty users list
                  value:
                    meta:
                      offset: 0
                      limit: 100
                      count: 0
                      total_count: 0
                      sort: id
                      order: ASC
                    data: []
        "400":
          $ref: "#/components/responses/ResponseError400"
        "401":
          $ref: "#/components/responses/ResponseError401"
        "403":
          $ref: "#/components/responses/ResponseError403"
        "406":
          $ref: "#/components/responses/ResponseError406"
        "429":
          $ref: "#/components/responses/ResponseError429"
        "500":
          $ref: "#/components/responses/ResponseError500"
        "503":
          $ref: "#/components/responses/ResponseError503"
        "504":
          $ref: "#/components/responses/ResponseError504"
    post:
      operationId: create_user
      summary: Create a user
      description: Creates a user.
      tags:
        - Users
      security:
        - oauth-client-credentials:
            - users:admin
      parameters:
        - name: idempotency-key
          in: header
          required: true
          schema:
            type: string
            format: uuid
            pattern: ^[0-9a-fA-F]{8}-?[0-9a-fA-F]{4}-?[0-5][0-9a-fA-F]{3}-?[089abAB][0-9a-fA-F]{3}-?[0-9a-fA-F]{12}$
            example: ccb07f42-4104-44ad-8e1f-c660bb7b269c
          description: "A UUID to be used as an idempotency key.  This prevents a duplicate request from being replayed. \nhttps://docs.upvest.co/concepts/api_concepts/idempotency\n"
      requestBody:
        content:
          application/json:
            schema:
              title: User - Create - Request
              anyOf:
                - title: User (BYOL) - Create - Request
                  type: object
                  properties:
                    first_name:
                      type: string
                      maxLength: 100
                      minLength: 2
                      description: First name of the user.
                    last_name:
                      type: string
                      maxLength: 100
                      minLength: 2
                      description: Last name of the user.
                    salutation:
                      type: string
                      description: "Salutation of the user used in reports and statements.\n* (empty string) - \n* SALUTATION_MALE - \n* SALUTATION_FEMALE - \n* SALUTATION_FEMALE_MARRIED - \n* SALUTATION_DIVERSE - "
                      enum:
                        - ""
                        - SALUTATION_MALE
                        - SALUTATION_FEMALE
                        - SALUTATION_FEMALE_MARRIED
                        - SALUTATION_DIVERSE
                      default: ""
                    title:
                      type: string
                      description: "Title of the user used in reports and statements.\n* (empty string) - \n* DR - Doctor\n* PROF - Professor\n* PROF_DR - \n* DIPL_ING - Graduate engineer (Diplom-Ingenieur)\n* MAGISTER - "
                      enum:
                        - ""
                        - DR
                        - PROF
                        - PROF_DR
                        - DIPL_ING
                        - MAGISTER
                      default: ""
                    birth_date:
                      type: string
                      format: date
                      description: Birth date of the user in YYYY-MM-DD format. [RFC 3339, section 5.6](https://json-schema.org/draft/2020-12/json-schema-validation.html#RFC3339)
                    birth_city:
                      title: City name
                      type: string
                      minLength: 1
                      maxLength: 85
                    birth_country:
                      description: Country code. [ISO 3166 alpha-2 Codes](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
                      type: string
                      pattern: ^[A-Z]{2}$
                    birth_name:
                      type: string
                      maxLength: 100
                      description: If applicable, birth name of the user.
                    nationalities:
                      type: array
                      items:
                        description: Country code. [ISO 3166 alpha-2 Codes](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
                        type: string
                        pattern: ^[A-Z]{2}$
                      minItems: 1
                      description: Nationalities of the user. [ISO 3166 alpha-2 Codes](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
                    address:
                      title: Address
                      type: object
                      description: Address. Must not be a P.O. box or c/o address.
                      properties:
                        address_line1:
                          type: string
                          description: First address line of the address.
                          maxLength: 100
                        address_line2:
                          type: string
                          description: Second address line of the address.
                          maxLength: 100
                        postcode:
                          title: Postal code
                          type: string
                          description: Postal code (postcode, PIN or ZIP code)
                          pattern: ^[a-zA-Z0-9\s\-]{1,10}$
                        country:
                          description: Country code. [ISO 3166 alpha-2 Codes](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
                          type: string
                          pattern: ^[A-Z]{2}$
                        state:
                          description: State, province, county. [ISO 3166 alpha-2 Codes](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
                          type: string
                          maxLength: 50
                        city:
                          title: City name
                          type: string
                          minLength: 1
                          maxLength: 85
                      required:
                        - address_line1
                        - postcode
                        - country
                        - city
                    postal_address:
                      description: User postal address. Needs to be specified if different to the residential address, otherwise it is automatically populated.
                      oneOf:
                        - title: Address
                          type: object
                          description: Address. Must not be a P.O. box or c/o address.
                          properties:
                            address_line1:
                              type: string
                              description: First address line of the address.
                              maxLength: 100
                            address_line2:
                              type: string
                              description: Second address line of the address.
                              maxLength: 100
                            postcode:
                              title: Postal code
                              type: string
                              description: Postal code (postcode, PIN or ZIP code)
                              pattern: ^[a-zA-Z0-9\s\-]{1,10}$
                            country:
                              description: Country code. [ISO 3166 alpha-2 Codes](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
                              type: string
                              pattern: ^[A-Z]{2}$
                            state:
                              description: State, province, county. [ISO 3166 alpha-2 Codes](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
                              type: string
                              maxLength: 50
                            city:
                              title: City name
                              type: string
                              minLength: 1
                              maxLength: 85
                          required:
                            - address_line1
                            - postcode
                            - country
                            - city
                        - type: "null"
                  required:
                    - first_name
                    - last_name
                    - birth_date
                    - nationalities
                    - address
                  additionalProperties: false
                - title: User (TOL) - Create - Request
                  type: object
                  properties:
                    first_name:
                      type: string
                      maxLength: 100
                      minLength: 2
                      description: First name of the user.
                    last_name:
                      type: string
                      maxLength: 100
                      minLength: 2
                      description: Last name of the user.
                    email:
                      type: string
                      format: email
                      maxLength: 100
                      description: Email of the user. Must be a valid email address.
                    salutation:
                      type: string
                      description: "Salutation of the user used in reports and statements.\n* (empty string) - \n* SALUTATION_MALE - \n* SALUTATION_FEMALE - \n* SALUTATION_FEMALE_MARRIED - \n* SALUTATION_DIVERSE - "
                      enum:
                        - ""
                        - SALUTATION_MALE
                        - SALUTATION_FEMALE
                        - SALUTATION_FEMALE_MARRIED
                        - SALUTATION_DIVERSE
                      default: ""
                    title:
                      type: string
                      description: "Title of the user used in reports and statements.\n* (empty string) - \n* DR - Doctor\n* PROF - Professor\n* PROF_DR - \n* DIPL_ING - Graduate engineer (Diplom-Ingenieur)\n* MAGISTER - "
                      enum:
                        - ""
                        - DR
                        - PROF
                        - PROF_DR
                        - DIPL_ING
                        - MAGISTER
                      default: ""
                    birth_date:
                      type: string
                      format: date
                      description: Birth date of the user in YYYY-MM-DD format. [RFC 3339, section 5.6](https://json-schema.org/draft/2020-12/json-schema-validation.html#RFC3339)
                    birth_city:
                      title: City name
                      type: string
                      minLength: 1
                      maxLength: 85
                    birth_country:
                      description: Country code. [ISO 3166 alpha-2 Codes](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
                      type: string
                      pattern: ^[A-Z]{2}$
                    birth_name:
                      type: string
                      maxLength: 100
                      description: If applicable, birth name of the user.
                    nationalities:
                      type: array
                      items:
                        description: Country code. [ISO 3166 alpha-2 Codes](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
                        type: string
                        pattern: ^[A-Z]{2}$
                      minItems: 1
                      description: Nationalities of the user. [ISO 3166 alpha-2 Codes](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
                    phone_number:
                      type: string
                      pattern: ^([0-9]{8,15})?$
                      description: Phone number of the user. [Phone number E.164 format](https://en.wikipedia.org/wiki/E.164).
                    address:
                      title: Address
                      type: object
                      description: Address. Must not be a P.O. box or c/o address.
                      properties:
                        address_line1:
                          type: string
                          description: First address line of the address.
                          maxLength: 100
                        address_line2:
                          type: string
                          description: Second address line of the address.
                          maxLength: 100
                        postcode:
                          title: Postal code
                          type: string
                          description: Postal code (postcode, PIN or ZIP code)
                          pattern: ^[a-zA-Z0-9\s\-]{1,10}$
                        country:
                          description: Country code. [ISO 3166 alpha-2 Codes](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
                          type: string
                          pattern: ^[A-Z]{2}$
                        state:
                          description: State, province, county. [ISO 3166 alpha-2 Codes](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
                          type: string
                          maxLength: 50
                        city:
                          title: City name
                          type: string
                          minLength: 1
                          maxLength: 85
                      required:
                        - address_line1
                        - postcode
                        - country
                        - city
                    postal_address:
                      description: User postal address. Needs to be specified if different to the residential address, otherwise it is automatically populated.
                      oneOf:
                        - title: Address
                          type: object
                          description: Address. Must not be a P.O. box or c/o address.
                          properties:
                            address_line1:
                              type: string
                              description: First address line of the address.
                              maxLength: 100
                            address_line2:
                              type: string
                              description: Second address line of the address.
                              maxLength: 100
                            postcode:
                              title: Postal code
                              type: string
                              description: Postal code (postcode, PIN or ZIP code)
                              pattern: ^[a-zA-Z0-9\s\-]{1,10}$
                            country:
                              description: Country code. [ISO 3166 alpha-2 Codes](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
                              type: string
                              pattern: ^[A-Z]{2}$
                            state:
                              description: State, province, county. [ISO 3166 alpha-2 Codes](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
                              type: string
                              maxLength: 50
                            city:
                              title: City name
                              type: string
                              minLength: 1
                              maxLength: 85
                          required:
                            - address_line1
                            - postcode
                            - country
                            - city
                        - type: "null"
                    fatca:
                      type: object
                      properties:
                        status:
                          type: boolean
                          description: The user’s FATCA status is true if the user is subject to paying taxes in the US, otherwise it can be set to false.
                        confirmed_at:
                          type: string
                          format: date-time
                          description: Timestamp at which the user confirmed their FATCA status. [RFC 3339-5](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6), [ISO8601 UTC](https://www.iso.org/iso-8601-date-and-time-format.html)
                      required:
                        - status
                        - confirmed_at
                    terms_and_conditions:
                      type: object
                      properties:
                        consent_document_id:
                          title: Consent unique identifier.
                          type: string
                          description: Consent unique identifier.
                          format: uuid
                        confirmed_at:
                          type: string
                          format: date-time
                          description: Timestamp at which the user consented to the terms & conditions. [RFC 3339-5](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6), [ISO8601 UTC](https://www.iso.org/iso-8601-date-and-time-format.html)
                      required:
                        - consent_document_id
                        - confirmed_at
                    data_privacy_and_sharing_agreement:
                      type: object
                      properties:
                        consent_document_id:
                          title: Consent unique identifier.
                          type: string
                          description: Consent unique identifier.
                          format: uuid
                        confirmed_at:
                          type: string
                          format: date-time
                          description: Timestamp at which the user consented to the data sharing agreement. [RFC 3339-5](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6), [ISO8601 UTC](https://www.iso.org/iso-8601-date-and-time-format.html)
                      required:
                        - consent_document_id
                        - confirmed_at
                  required:
                    - first_name
                    - last_name
                    - email
                    - birth_date
                    - birth_city
                    - birth_country
                    - nationalities
                    - address
                    - fatca
                    - terms_and_conditions
                    - data_privacy_and_sharing_agreement
                  additionalProperties: false
            examples:
              BYOL:
                summary: BYOL user
                value:
                  first_name: Karl
                  last_name: Schmidt
                  salutation: SALUTATION_MALE
                  title: DR
                  birth_date: 1972-09-30
                  birth_city: Berlin
                  birth_country: DE
                  birth_name: Schmidt
                  nationalities:
                    - DE
                    - AU
                  postal_address:
                    address_line1: Rosenweg 221
                    address_line2: apt. 33
                    postcode: "45678"
                    city: Berlin
                    state: BE
                    country: DE
                  address:
                    address_line1: Rosenweg 221
                    address_line2: apt. 33
                    postcode: "45678"
                    city: Berlin
                    state: BE
                    country: DE
              TOL:
                summary: TOL user
                value:
                  first_name: Karl
                  last_name: Schmidt
                  email: karl.schmidt@example.com
                  salutation: SALUTATION_MALE
                  title: DR
                  birth_date: 1972-09-30
                  birth_city: Berlin
                  birth_country: DE
                  birth_name: Schmidt
[...]
